In [31]:
from pandas import pandas
import datetime
import random

In [8]:
type_compteur = pandas.read_csv("./data/V1/type_compteur.csv", delimiter=";")

In [64]:
type_compteur.head(10)

,ID_compteur,Type_compteur,Unite,Type_intervalle,Type_aggregation,Niveau,ID_appt
0,Facture_eau_CHF_1_0,Facture_eau,CHF,Semaine,SUM,1,0
1,Facture_chaud_CHF_1_0,Facture_chaud,CHF,Semaine,SUM,1,0
2,chaud_kWh_1_0,chaud,kWh,Semaine,DIFF,1,0
3,froid_m3_1_0,froid,m3,Semaine,DIFF,1,0
4,ECS_kWh_3_1,ECS,kWh,Jour,DIFF,3,1
5,chauffage_kWh_3_1,chauffage,kWh,Jour,DIFF,3,1
6,eau_froide_m3_3_1,eau_froide,m3,Jour,DIFF,3,1
7,ECS_kWh_3_2,ECS,kWh,Jour,DIFF,3,2
8,chauffage_kWh_3_2,chauffage,kWh,Jour,DIFF,3,2
9,eau_froide_m3_3_2,eau_froide,m3,Jour,DIFF,3,2

In [10]:
compteur_list = type_compteur["ID_compteur"].to_list()

In [26]:
today = datetime.datetime.now()

In [78]:
result_list = []

In [79]:
for index, compteur_name in enumerate(compteur_list):
    # only data during 2 weeks (every day) for all meters of level 2 and 3 are generated not the level 1
    if index > 3: 
        for i in range(15): 
            result_list.append((compteur_name, (today+datetime.timedelta(days=-i)).strftime("%Y-%m-%d %H:%M:%S.000"), round(random.uniform(10,30), 2)))

In [80]:
result_df = pandas.DataFrame(result_list,columns=["tagName", "ts", "tagValue"])

In [81]:
result_df.head()

       tagName                       ts  valueDiff
0  ECS_kWh_3_1  2021-03-31 17:36:27.000      19.20
1  ECS_kWh_3_1  2021-03-30 17:36:27.000      21.81
2  ECS_kWh_3_1  2021-03-29 17:36:27.000      26.99
3  ECS_kWh_3_1  2021-03-28 17:36:27.000      23.68
4  ECS_kWh_3_1  2021-03-27 17:36:27.000      25.93

In [ ]:
result_df.to_csv("./data/compteurs.csv",sep=";",index=False)